body {
  background-color: aqua;
  color: darkblue;
  font-family: "Trebuchet MS", "Comic Sans MS", cursive;
  margin: 0,
} 

header {
  font-size: 50px;
  border-bottom: double 8px white;
  text-aling: center;
}

h1 {
  font-size: 26px;
  border-bottom: double 5px powderblue
  text-align: center;
}

p {
  font-size: 33px
  text-align: center;
}

iframe, video {
  display: block;
  margin: 0 auto;
  width: 80%;
  max-width
}