body {
  background-color: aqua;
  color: darkblue;
  font-family: "Trebuchet MS", "Comic Sans MS", cursive;
  margin: 0,
} 

header {
  font-size: 50px;
  border-bottom: double 8px white;
  padding: 15px
  text-aling: center;
}

h1 {
  font-size: 26px;
}

p {
  font-size: 33px
}