body {
  background-color: aqua;
  color:darkblue;
  font-family: "Trebuchet MS","Comic Sans MS",cursive;
  margin: 0,
} 

header {
  font-síze: 60px;
  border-bottom: double 5px white;
  padding: 6px
  text-align: center;
}

h1 {
  font-síze: 30px;
}

p {
  font-síze: 20px